/*给ul添加长宽属性*/
.page {
  position: relative;
  width: 150px;
  height: 220px;
  background-color: green;
}

.page li {
  /* position: absolute; */
  display: inline-block;
  /* float: left; */
  border-radius: 0 8px 8px 0;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.cover-page {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top right, #222120, #838382);
}

.end-page {
  background-image: linear-gradient(to top right, #222120, #838382);
  width: 100%;
  height: 100%;
}

.inside-page {
  width: 96%;
  height: 96%;
  left: 0;
  top: 2%;
  border: 1px lightgray solid;
  /* background-color: #fcf9f4; */
  background-color: red;
}
